<form id="form">
<input type="hidden" name="group" id="group" value="{{this.group}}">
    <input type="text" name="email" id="user_email" placeholder="user email">
    <br>
    <input type="submit" class="submit-u" value="Add New User">
</form>
<h4 class="error-u"></h4>
<div class="group-members">
    <p>{{user_name}}</p>
</div>
<a class="btn" href="/campaign/{{this.group}}" role="button">Finish and go to group</a>

<script>

     $(document.body).on("click", ".submit-u", function(event){
         event.preventDefault();
        $.post("/group/create/users", {
            group_name: $("#group").val(),
            email: $("#user_email").val()
        }, function(data, success){
            console.log(JSON.stringify(data));
            if (data.user_already_added == true){
                 $(".error-u").text("That user is already in the group.");
            }
            else if (data.exists == false){
                $(".error-u").text("That user does not exist");
            } else {
                $(".error-u").text("");
                $(".group-members").append("<p>" + data.email + "<p>");
            }
        });
    });
</script>