<form action="/group/create/users" method="post" id="form">
<input type="hidden" name="group" value="{{this.group}}">
    <input type="text" name="email" id="user_email" placeholder="user email">
    <br>
    <input type="submit" id="submitButton" value="Add New User">
</form>
{{#if exists}}
{{#each user_emails}}
<p>{{this.email}}</p>
{{/each}}
{{else}}
<p>That user does not exist.</p>
{{/if}}
<a class="btn" href="/campaign/{{this.group}}" role="button">Finish and go to group</a>