	<p>User Login</p>

	<br/>


	<form action="/users/login" method="post" id="form">
		<input type="text" name="user_email" id="user_email" placeholder="user email">
		<br/>
		<input type="text" name="user_password" id="user_password" placeholder="password" >
		<br/>
		<input type="submit" id="submitButton" value="Login">
	</form>
	<br/>
	<br/>
	<form action="/users/create" method="post" id="form">
		<input type="text" name="user_id" id="user_id" placeholder="user id">
		<br/>
		<input type="text" name="user_email" id="user_email" placeholder="user email">
		<br/>
		<input type="text" name="user_password" id="user_password" placeholder="password" >
		<br/>
		<input type="text" name="user_password_2" id="user_password_2" placeholder="confirm password" >
		<br/>
		<input type="submit" id="submitButton" value="Create New User">
	</form>
	<br/>
	<br/>