<!-- Trigger the modal with the ? button -->
<div id="modal-help" class="modal" style="padding:5px !important; width:500px !important; ">
	<!-- Modal content-->
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close close-help" data-dismiss="modal">&times;</button>
			<h4 class="modal-title" id="help-errMsg">Error Explanation</h4>
		</div>
		<div class="modal-body">
			<!-- <h4 id="help-errCode">Error Code </h4> -->
			<!-- <h4 id="help-errMsg">message2 </h4>  -->
			<h4 id="help-errExp">explanation </h4>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default close-help" data-dismiss="modal">Close</button>
		</div>
	</div>
</div>


<!--Log In Form-->
<div id="loginForm">
	<h2>User Login</h2>
	<hr>
	<div class='warning'>
		<div id='loginWarning'></div>
		<!--Help Button-->
		<button class='btn btn-info bttn-help-user' data-toggle="modal" data-target="#modal-help" id='bttn-help-user' type='button'>?</button>
	</div>
	<br/>
	<form action="/users/login" method="post" id="form-login">
		<label for="user_email">User Email Address:</label>
		<input type="text" name="user_email" id="user_email" placeholder="example@email.com">
		<br/>
		<label for="user_password">User Password:</label>
		<input type="password" name="user_password" id="user_password" placeholder="Password">
		<hr>
		<!-- <input type="submit" class='btn btn-primary' id="submitButton" value="Login"> -->
		<button class='btn btn-primary bttn-login' type='button'>Login</button>
		<button class='btn btn-primary bttn-register' type='button'>Register</button>
	</form>
	<hr>
</div>

<!--New User Form-->
<div id="newUserForm">
	<h2>Create a New Account</h2>
	<hr>
	<div class='warning'>
		<div id='newUserWarning'> </div>
		<button class='btn btn-info bttn-help-new' data-toggle="modal" data-target="#modal-help" id='bttn-help-new' type='button'>?</button>
	</div>
	<br/>
	<form action="/users/create" method="post" id="form-newuser">
		<label for="user_Name">Create a Username:</label>
		<input type="text" name="user_name" id="user_name" placeholder="Username">
		<br/>
		<label for="register_user_email">Email Address:</label>
		<input type="text" name="user_email" id="register_user_email" placeholder="Email">
		<br/>
		<label for="register_user_password">Password:</label>
		<input type="password" name="user_password" id="register_user_password" placeholder="Password">
		<br/>
		<label for="user_password_2">Confirm Password:</label>
		<input type="password" name="user_password_2" id="user_password_2" placeholder="Confirm Password">
		<hr>
		<!-- <input type="submit" id="submitButton" class='btn btn-primary' value="Create New User">  -->
		<button class='btn btn-primary bttn-create-new' type='button'>Create New User</button>
		<button class='btn btn-primary bttn-existing' type='button'>Already Registered</button>
	</form>
</div>

<!--{{#if logged_in}}
	<p>Logged in as {{req.session.username}}.</p>
	<br/>
	<a href='/users/log-out'><p>Log out</p></a>
{{else}}
	<a href='/users/log-in'><h3>Log In</h3></a>
{{/if}}-->


<hr>
<hr>

<!--
	<script type="text/javascript" src="../../javascript/login.js"></script>
-->


<script>
	//global variable for the current err
	var currErrorObj = {
		errCode: 0,   //0 if no error
		errLine: 0,   //which line of the input form
		errMsg: "", //error message
		errExp: ""   //error explanation
	};


	var dispHelpUser = function (_showBttn) {
		//0 = hide the help button until an error comes in
		//1=  show the help button
		if (_showBttn) {
			$("#bttn-help-user").css("display", "block");
		} else {
			$("#bttn-help-user").css("display", "none");
		};
	};


	var dispHelpNew = function (_showBttn) {
		//0 = hide the help button until an error comes in
		//1=  show the help button
		if (_showBttn) {
			$("#bttn-help-new").css("display", "block");
		} else {
			$("#bttn-help-new").css("display", "none");
		};
	};


	var dispModalHelp = function () {
		//$("#help-errCode").text("Error code: " + currErrorObj.errCode);
		$("#help-errMsg").text(currErrorObj.errMsg);
		$("#help-errExp").text(currErrorObj.errExp);
		//var modTag = $("#modal-help");
		var modTag = $("#modal-help");
		console.log("tag = ");
		console.log(modTag);
		$(modTag).css("display", "block");
		//$(modTag).css("")
		//$(modTag).style.display="block";
	};

	var closeModalHelp = function () {
		var modTag = $("#modal-help");
		$(modTag).css("display", "none");
	}

	var dispNewUserForm = function () {
		$("#newUserForm").css("display", "block");
		$("#loginForm").css("display", "none");
		$("#newUserWarning").text(" ");
		dispHelpNew(false);
	};

	var dispCurrentUserForm = function () {
		$("#newUserForm").css("display", "none");
		$("#loginForm").css("display", "block");
		$("#loginWarning").text(" ");
		dispHelpUser(false);
	};

	var createNewUser = function () {
		//clear out the warning first
		$("#newUserWarning").text(" ");
		$.post("/users/create",
			{
				user_name: $("#user_name").val(),
				user_email: $("#register_user_email").val(),
				user_password: $("#register_user_password").val(),
				user_password2: $("#user_password_2").val()
			},
			function (data, status) {
				if (data.errCode === 0) {
					//there is no error
					$("#newUserWarning").text(" ");
					dispHelpNew(false);
					window.location.href = "/group"
				} else {
					currErrorObj.errCode = data.errCode;
					currErrorObj.errLine = data.errLine;
					currErrorObj.errMsg = data.errMsg;
					currErrorObj.errExp = data.errExp;
					$("#newUserWarning").text(data.errMsg);
					dispHelpNew(true);
				};
			});
	};


	var checkLogin = function () {
		//check the login
		//clear out the warning first
		$("#loginWarning").text(" ");
		$.post("/users/login",
			{
				user_email: $("#user_email").val(),
				user_password: $("#user_password").val()
			},
			function (data, status) {
				if (data.errCode === 0) {
					//there is no error
					$("#loginWarning").text(" ");
					dispHelpUser(false);
					window.location.href = "/group"
				} else {
					currErrorObj.errCode = data.errCode;
					currErrorObj.errLine = data.errLine;
					currErrorObj.errMsg = data.errMsg;
					currErrorObj.errExp = data.errExp;
					$("#loginWarning").text(data.errMsg);
					dispHelpUser(true);
				};
			});
	};


	$(document).ready(function () {
		dispCurrentUserForm();
	});
	$(document.body).on("click", ".bttn-register", dispNewUserForm);
	$(document.body).on("click", ".bttn-existing", dispCurrentUserForm);
	$(document.body).on("click", ".bttn-create-new", createNewUser);
	$(document.body).on("click", ".bttn-login", checkLogin);
	$(document.body).on("click", ".bttn-help-user", dispModalHelp);
	$(document.body).on("click", ".bttn-help-new", dispModalHelp);
	$(document.body).on("click", ".close-help", closeModalHelp);

</script>
