<!--  schedule page   -->

<!-- Trigger the help modal with the ? button -->


<div id="modal-help" class="modal" style="padding:5px !important; width:500px !important; ">
	<!-- Modal content-->
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close close-help" data-dismiss="modal">&times;</button>
			<h4 class="modal-title" id="help-errMsg">Error Explanation</h4>
		</div>
		<div class="modal-body">
			<h4 id="help-errExp">explanation </h4>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default close-help" data-dismiss="modal">Close</button>
		</div>
	</div>
</div>

<h2> Calendar Scheduler </h2> 


<hr>
<hr>

<!--
	<script type="text/javascript" src="../../javascript/login.js"></script>
-->


<script>

</script>
