<div class='row'>
    <h2>Welcome to</h2>
    <h1 class='specialFont'>TableTop Genie</h1>
</div>
<div class='row'>
    <p><span class='specialFont'>TableTop Genie</span> caters to the needs of the Table Top gaming community.</p>
    <hr>
    <p>Most table top games take multiple sessions. Some can take weeks, months, or even years to complete depending upon how often the group is able to meet. In between these games, there is A LOT of information to keep track of: Your Character name and race or class, what items your character was in possession of and the stats on them, what kind of encounter you were having when you last left off, where your characters were positioned on the gameboard(if there is one for your particular game), etc. Often times half of your group session is spent to just trying to get set back up and remember all of these things.</p>
    <hr>
    <p>This where <span class='specialFont'>TableTop Genie</span> comes in. We provide users with a database to store all of there information in for easy retrieval when they need it. We also can store pictures to help remember what your gameboard setup looked like. As well as a Google Calendar to help your schedule times to meet up in the future.</p>
    <hr>
    <p>Currently we are only setup to cater to <a href='https://www.fantasyflightgames.com/en/products/star-wars-imperial-assault/'>Star Wars Imperial Assault</a>, however, we hope to expand to other table tops in the near future!</p>
</div>
<hr>
<hr>